/* color
 ------------------------------------- */
$white: #fbfaf5;
$green: #01c3a8;
$gray: #7e7e8e;
$red: #c63f39;
$cherry: #fed3b2;

/* font
 ------------------------------------ */

$nav-h1-font: normal 48px/72px Times, sans-serif;
$inherit-font: normal 48px/72px Microsoft Yahei, Arial, sans-serif;
$a-font: normal 32px/81px Microsoft Yahei, Arial, sans-serif;
$input-font: normal 21px Microsoft Yahei, Arial, sans-serif;
$wait-font: normal 17px/29px Microsoft Yahei, Arial, sans-serif;

/* layout
 ------------------------------------ */

$header-height: 72px;

$aside-width: 306px;


/* path
 ------------------------------------ */
$search-img: url(../images/logo/search.png);
$login-img: url(../images/logo/login.png);
$bg-img: url(../images/background.png);

