/*
* ChuanChengWang
*
* @author    Lancelot at EcjtuNet
* @version   1.0
* @last-time 2014.7.18
*
*/
/* file loading
 ------------------------------------ */
/*           CSS Reset           */
/*
 * http://meyerweb.com/eric/tools/css/reset/    v2.0 | 20110126
 * License: none (public domain)
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summarytime, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:link, a:visited {
  text-decoration: none; }

/* color
 ------------------------------------- */
/* font
 ------------------------------------ */
/* layout
 ------------------------------------ */
/* path
 ------------------------------------ */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background: #f2f2f0; }
  header nav {
    width: 960px;
    margin: 0 auto; }
    header nav h1 {
      display: inline-block;
      height: 72px;
      padding-left: 48px;
      color: #7e7e8e;
      background: url(../images/logo/logo.png) left center no-repeat;
      font: normal 48px/72px Times, sans-serif; }
      header nav h1 a {
        color: #7e7e8e;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s; }
      header nav h1 a:hover, header nav h1 a:active {
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
      header nav h1 a#inherit {
        letter-spacing: .05em;
        font-size: 48px;
        font-weight: normal;
        font: normal 48px/72px Microsoft Yahei, Arial, sans-serif; }
      header nav h1 a#sort {
        padding-right: 12px;
        letter-spacing: .05em;
        font: normal 32px/81px Microsoft Yahei, Arial, sans-serif; }
      header nav h1 .slideDown {
        display: inline-block;
        position: relative;
        top: -10px;
        right: -6px;
        width: 0;
        height: 0;
        border-top: 3px solid #7e7e8e;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent; }
    header nav #search {
      display: inline-block;
      position: absolute;
      height: 72px; }
      header nav #search input {
        width: 196px;
        height: 30px;
        margin: 24px 0 0 48px;
        padding: 0 36px 0 8px;
        border: 3px solid #7e7e8e;
        border-radius: 3px;
        background: #fbfaf5 url(../images/logo/search.png) right center no-repeat;
        font: normal 21px Microsoft Yahei, Arial, sans-serif;
        color: #7e7e8e; }
    header nav h2 {
      float: right;
      height: 72px;
      line-height: 81px;
      padding-left: 48px;
      color: #7e7e8e;
      font-size: 32px;
      font-weight: normal;
      font-family: Times, sans-serif;
      letter-spacing: .05em;
      background: url(../images/logo/login.png) 12px 24px no-repeat; }
      header nav h2 a {
        color: #7e7e8e;
        font: normal 32px/81px Microsoft Yahei, Arial, sans-serif;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s; }
      header nav h2 a:hover, header nav h2 a:active {
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }

#container {
  width: 100%;
  height: 600px;
  margin-top: 72px;
  background: url(../images/background.png) top center no-repeat; }
  #container #content {
    position: relative;
    width: 960px;
    height: 100%;
    margin: 0 auto; }
